#nodejs
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
pnpm-lock.yaml

#env
.env

#os
.DS_Store
Thumbs.debug

#ide
.vscode
.idea
*.iml

#builds
build/
dist/
out/

#go
**/*.exe
**/*.dll
**/*.mod
**/*.sum

#other
